<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest Cafe</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="card" style="width: 18rem;">
        <img src="{{item.image.url}}" class="card-img-top" alt="..." width="200px" height="200px">
        <div class="card-body">
          <h5 class="card-title">{{item.items_name}}</h5>
          <p class="card-text">{{item.description}}</p>
          <p class="card-text">{{item.price}}</p>
          
          <a href="{% url 'item-remove' item.id %}" class="btn btn-primary"><i class="fa-solid fa-trash"></i></a>
        </div>
      </div>
    
</body>
</html>